<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} | Chat Room</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#93BFCF]">
    <nav class="flex items-center justify-between px-4 py-6 bg-[#6096B4]">
        <div>
            <a href="{% url 'index-page' %}" class="text-xl text-white font-semibold">Chat Room</a>
        </div>
        <div class="flex items-center space-x-4">
            {% if request.user.is_authenticated %}
                <a href="{% url 'rooms-page' %}" class="py-2 px-4 bg-green-300 hover:bg-green-200 text-lg rounded-md">Rooms</a>
                <a href="{% url 'logout' %}" class="py-2 px-4 bg-red-300 hover:bg-red-200 text-lg rounded-md">Logout</a>
            {% else %}
                <a href="{% url 'login-page' %}" class="py-2 px-4 bg-blue-300 hover:bg-blue-200 text-lg rounded-md">Login</a>
                <a href="{% url 'signup-page' %}" class="py-2 px-4 bg-teal-300 hover:bg-teal-200 text-lg rounded-md">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>